<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas atuais</title>
</head>
<body>
    
    <h1>Criar Tarefa</h1>
    <form action="/novaTarefa" method="POST">
        <label for="descricao">Descrição da tarefa</label>
        <input type="text" id="descricao" name="descricao" required>
        <button type="submit">Confirmar</button>
    </form>

    <h1>Tarefas:</h1>
    <ul>
        {% for tarefa in tarefas %}
            <li>
                <form action="{{ url_for('tarefa.editar_tarefa', tarefa_id=tarefa.id) }}" method="POST">
                    <input type="text" name="descricao" value="{{ tarefa.descricao }}" required>
                    <button type="submit">Atualizar</button>
                </form>
                
                <form action="{{ url_for('tarefa.remover_tarefa', tarefa_id=tarefa.id) }}" method="POST">
                    <button type="submit">Remover</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <h1>Foto de cachorro</h1>
    <ul>
        <img src="https://images3.memedroid.com/images/UPLOADED421/5c60bd8dd292a.jpeg" />
    </ul>

</body>
</html>
